/* CSS Document */ 

html {
	background-color: #e6e6e6;
}

body {
	background-color: #ffffff;
	max-width: 1200px;
	margin: 0px auto 10px auto;
	border: 1px solid #e6e6e6;
	border-radius: 0px 0px 6px 6px;
	padding: 10px;
	font-family: sans-serif;
}

ul.nav a:hover {
	color: #fff !important;
	background-color: #0C090A !important;
}

.text {
    text-align: center;
}

form {
    text-align: center;
}

img {
    max-height: 100%;
    max-width: 100%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.button1 {
    background-color: orangered;
    border: none;
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button2 {
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button {
    text-align: center;
}

.offscreen { 
  position: absolute; 
  top: -30em; 
  left: -300em; 
} 
.headcontent {
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.tittlehead {
    text-align: center;
}

.bodycontent {
    background-image: url("background3.img");
    text-align: center;
    align-content: center;
}

div#hmenu { 
   margin: 0; 
   padding: .3em 0 .3em 0; 
   background: clear; 
   width: 100%; 
   text-align: center; 
} 

div#hmenu ul { 
   list-style: none; 
   margin: 0; 
   padding: 0; 
} 

div#hmenu ul li { 
   margin: 0; 
   padding: 0; 
   display: inline; 
} 

div#hmenu ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: black; 
} 

div#hmenu ul a:active{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: green; 
} 

div#hmenu ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: blue; 
   background-color: white; 
}

.top-right-corner{
   position:absolute;
   top: 0;
   right: 0;
   padding: 20px;
}
