 .topnav {
     overflow: hidden;
 }
 
 .topnav a {
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px; 16px;
    
 }
 
 .topnav a:hover {
     background-color: #444;
     color: black;
 }
 .topnav .icon {
     display: none;
 }
 @media screen and (max-width: 600px) {
     .topnav a:not(:first-child) {
         display: none;
     }
     .topnav a.icon {
         float: right;
         display: block;
     }
 }
 @media screen and (max-width: 600px) {
     .topnav.responsive {
         position: relative;
     }
     .topnav.responsive .icon {
         position: absolute;
         right: 0;
         top: 0;
     }
     .topnav.responsive a {
         float: none;
         display: block;
         text-align: left;
     }
 }
 
 body {
     background-color: white;
     color: black;
     font-family: Lucida Sans Unicode;
 }
 
 .navbar {
     width:100%;
     background: black;
     margin-top: 1em
 }

 .navbar a {
     display: block;
     color: firebrick;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     vertical-align: middle;
     line-height: 30px;
     margin: 0 2px;
     background: black;
     border-right: 2px solid #444;
 }
 
 .navbar .icon {
     display: none;
 }
 
 .logo {
     width: 90px;
     float: left;
 }
 
 .header {
     
     
 }
 
 h1 {
     color: firebrick;
 }
 
 .sign-in {
     float: right;
 }
 
 #footer {
     width: 100%;
     height: 260px;
     background: linear-gradient( maroon, red), url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);
     text-decoration-color: white;
 }

.cimg {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 500px !important;
}
.footertext {
    color:white;
}
.navbar-link {
    float:left;
    font-size: 20px;
}
#title {
    font-size: 25px;
    line-height: 30px;
}
.view-cart {
    float:right;
}
#body {
    background-color: black;
}
#loginBtn {
    background-color: black;
}
.divider {
    background-color: firebrick;
}
#copyright {
width:85px;
height:85px;}
#legal {
    font-size: 10px;
    color:grey;
}
.order-btn {
    width: 50%
}
.carousel-container {
    position: relative;
}